.App {
  text-align: center;
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6a82fb,
    #fc5c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.left-side {
  width: 20%;
}

.right-side {
  width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > button {
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  background: transparent;
  border: none !important;
  color: white;
  transition: all 0.2s linear;
}

li > button:hover,
li > button:focus {
  box-shadow: -3px 0 #fff;
}

.user-info {
  text-align: left;
}
